---
import type { TextBlock as TextBlockType } from "../../content-models/block";

interface Props {
  block: TextBlockType;
}

const { block } = Astro.props;
---

<div class="text-block">
  <p>{block.content}</p>
</div>
